.about-container {
    margin: 20px;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-text {
   
    color: #f06f13;
    background-color: rgb(39, 209, 41);
    font-size: 22px;
    line-height: 1.6;
    
  }
  
  