.cart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}
.crop-box {
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 400px;
}

.crop-content {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

strong {
  font-weight: bold;
}

p {
  margin: 5px 0;
}

/* Customize the styles based on your specific design requirements */
/* Cart.css */




.crop-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value to set the transparency */
}

.crop-content {
  background-color: rgba(8, 9, 0, 0.6); /* Adjust the alpha value to set the transparency */
  color: rgb(247, 244, 244);
  font-weight: bold;
  text-align: left;
  margin-top: 10px;
}

.crop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.remove-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.remove-button:hover {
  background-color: #ff0000;
}
.subtotal-proceed-container {
  /* Your styles for the container holding both subtotal and button */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd; /* Adjust the border as needed */
  border-radius: 5px;
  margin-left: 70%;
}

.subtotal-box {
  /* Your styles for the subtotal box */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20%;
}

.proceed-button {
  /* Your styles for the Proceed to Checkout button */
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20%;
}

.proceed-button:hover {
  /* Styles for the button on hover */
  background-color: #45a049;
}
.subtotal-text {
  color: #180cfa; 
 font: 1em sans-serif;
}